.imageInput{
	font-size: 2em;
}

body{
	background-color: rgb(52, 51, 51);
}


.main-area{
	display: flex;
	flex-direction: row;
}

#colorSuggestions{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#colorSuggestions>button{
	width: 75%;
	margin-top: 5px;
	border: 3pt black solid;
	
	font-size: 1.2em;
}

#toolbar{
	background-color: beige;
	padding: 2%;
	margin-top: 4.8em;
	border: 5px black solid;
}
.image-area{
	color: white;
}

.auth-form{
	margin-top: 15%;
	background-color: white;
	width: 50%;
	margin-left: 25%;
	padding: 3%;
}

.auth-form>*>*{
	margin-bottom: 1%;
}

.banner{
	display: flex;
	flex-direction: row;
	gap: 2%;
	align-items: center;
	background-color: black;
	padding: 10px;
	color: aliceblue;
}

.banner>a{
	color: cyan;
}

.pop-up{
	position: absolute;
	margin-top: 0vw;
}

.close{
	background-color: red;
	font-size: 1.5em;
	margin-left: 95%;
	color: white;
	border: none;
}

.thumbnail{
	width: 100px;
	height: 100px;
	border: white solid 4px;
}

.imageDisplay{
	width: 80%;
	border: white solid 4px;
	margin-left: auto;
	margin-right: auto;
	background-color: blueviolet;
	display: flex;
	flex-direction: row;
	color: white;
	gap: 10%;
	margin-top: 3%;
}

.imageDisplay>div>a{
	color: cyan;
}

#updateForm{
	position: absolute;
	margin-top: 0vw;
}

.deleteButton{
	background-color: red;
	color: aliceblue;
}